{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="max-w-md mx-auto mt-10 bg-white p-6 rounded-lg shadow-md">
        <form method="post" class="space-y-4">
            {% if error %}
                <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3 text-gray-700">
                    Vous êtes connecté en tant que {{ app.user.userIdentifier }},
                    <a href="{{ path('app_logout') }}" class="text-primary-700 underline">Se déconnecter</a>
                </div>
            {% endif %}

            <h1 class="text-2xl font-semibold text-003D5B">Veuillez vous connecter</h1>

            <div>
                <label for="username" class="block text-sm font-medium text-gray-700">Adresse e-mail</label>
                <input type="email" value="{{ last_username }}" name="_username" id="username"
                       class="mt-1 block w-full border p-2 border-gray-300 rounded-md shadow-sm focus:ring-secondary-500 focus:border-secondary-500"
                       autocomplete="email" required autofocus>
            </div>

            <div>
                <label for="password" class="block text-sm font-medium text-gray-700">Mot de passe</label>
                <input type="password" name="_password" id="password"
                       class="mt-1 block w-full border p-2 border-gray-300 rounded-md shadow-sm focus:ring-secondary-500 focus:border-secondary-500"
                       autocomplete="current-password" required>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="flex flex-col gap-2">
                <button type="submit" class="w-full px-4 py-2 bg-primary-700 text-white rounded-lg hover:bg-primary-800 focus:outline-none">
                    Se connecter
                </button>
                <a href="{{ path('app_forgot_password') }}" class="text-primary-800 underline cursor-pointer transition hover:text-primary-900">
                    Vous avez oubliez votre mot de passe ?
                </a>
            </div>

        </form>
    </div>
{% endblock %}
