{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <div class="flex justify-center items-center my-4 max-lg:flex-col flex-wrap">
        <div class="w-full">
            <a href="{{ path('app_product_new') }}"
               class="bg-primary-700 hover:bg-primary-800 rounded-lg py-2.5 px-4 text-white">Ajouter un produit</a>
        </div>

        {% for product in products %}
            <div class="min-w-32rem w-32rem h-64 bg-white rounded-lg flex m-4 border border-secondary-300">
                {% set image_path = product.photos[0].photoPath %}
                {% if image_path starts with 'http' %}
                    <img src="{{ image_path }}" alt="{{ product.name }}" class="object-cover w-44 rounded-l-lg">
                {% else %}
                    <img src="{{ asset('uploads/photos/' ~ image_path) }}" alt="{{ product.name }}" class="object-cover w-44 rounded-l-lg">
                {% endif %}
                <div class="w-full h-full flex flex-col justify-between">
                    <div class="flex flex-col justify-between h-full">
                        <div>
                            <p class="font-bold text-2xl m-4">{{ product.name }}</p>
                            <p class="text-sm mx-4">
                                {% set maxLength = 100 %}
                                {{ product.description | length > maxLength ? product.description | slice(0, maxLength) ~ '...' : product.description }}
                            </p>
                        </div>
                        <div>
                            <p class="text-md font-semibold mx-4">Prix : {{ product.price | number_format(2, ',', ' ') }} €</p>
                            <p class="text-md font-semibold mx-4">Stock : {{ product.stock }}</p>
                        </div>
                    </div>

                    <div class="flex justify-end mr-4 mb-4 gap-4">
                        <a href="{{ path('app_product_show', {'id': product.id}) }}"
                           class="bg-primary-700 hover:bg-primary-800 rounded-lg py-2 px-4 text-white">Visualiser</a>

                        {% if product.stock <= 0 %}
                            <span class="text-red-500">Rupture de stock</span>
                        {% endif %}

                        {% if is_granted('ROLE_PRESTA') %}
                            <a href="{{ path('app_product_edit', {'id': product.id}) }}"
                               class="bg-warning-700 hover:bg-warning-800 rounded-lg py-2 px-4 text-white ml-2">Modifier</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {# Navigation de pagination #}
    <div class="flex justify-center my-4">
        <ul class="flex">
            {% if currentPage > 1 %}
                <li>
                    <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': currentPage - 1})) }}"
                       class="bg-primary-700 hover:bg-primary-800 py-2 px-4 text-white rounded-lg mx-1">
                        Précédent
                    </a>
                </li>
            {% endif %}

            {% for i in 1..totalPages %}
                <li>
                    <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': i})) }}"
                       class="py-2 px-4 mx-1 {{ i == currentPage ? 'bg-primary-700 text-white' : 'bg-gray-200 hover:bg-gray-300' }} rounded-lg">
                        {{ i }}
                    </a>
                </li>
            {% endfor %}

            {% if currentPage < totalPages %}
                <li>
                    <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': currentPage + 1})) }}"
                       class="bg-primary-700 hover:bg-primary-800 py-2 px-4 text-white rounded-lg mx-1">
                        Suivant
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}

