<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bienvenue !{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="font-sans bg-gray-100 text-gray-800">
<!-- Top Info Header -->
<div class="bg-primary-700 text-white text-sm py-2">
    <div class="container mx-auto flex justify-between items-center">
        <span>Donnez une deuxième vie à vos bien</span>
        <span>12 Sonville 77460</span>
    </div>
</div>

<!-- Main Header with Navigation -->
<header class="bg-white shadow">
    <div class="container mx-auto py-4 flex justify-between items-center">
        <div class="text-2xl font-bold text-003D5B">Atout Réparation</div>
        <nav>
            <ul class="flex space-x-6 text-003D5B">
                <li class="{% if app.request.pathinfo == '/' %}border-b-2 border-primary-700 {% endif %}">
                    <a href="{{ path('app_home') }}" class="hover:text-secondary-800">Accueil</a>
                </li>

                {% if not app.user %}
                    <!-- Utilisateur non connecté -->
                    <li class="{% if '/presentation' in app.request.uri %}border-b-2 border-primary-700{% endif %}">
                        <a href="#" class="hover:text-secondary-800">Présentation</a>
                    </li>
                    <li class="{% if '/objectif' in app.request.uri %}border-b-2 border-primary-700{% endif %}">
                        <a href="#" class="hover:text-secondary-800">Objectif</a>
                    </li>
                    <li class="{% if '/cv' in app.request.uri %}border-b-2 border-primary-700{% endif %}">
                        <a href="#" class="hover:text-secondary-800">Curriculum Vitae</a>
                    </li>
                {% else %}
                    {% if 'ROLE_ADMIN' in app.user.roles %}
                        <!-- Liens spécifiques pour les administrateurs -->
                        <li class="{% if '/admin/dashboard' in app.request.uri %}border-b-2 border-primary-700{% endif %}">
                            <a href="{{ path('dashboard_admin') }}" class="hover:text-secondary-800">Dashboard Admin</a>
                        </li>
                        <li class="{% if '/admin/home-repair' in app.request.uri %}border-b-2 border-primary-700{% endif %}">
                            <a href="{{ path('app_home_repair_index_admin') }}" class="hover:text-secondary-800">Réparations Maison</a>
                        </li>
                        <li class="{% if '/admin/object-hs' in app.request.uri %}border-b-2 border-primary-700{% endif %}">
                            <a href="{{ path('app_object_hs_index_admin') }}" class="hover:text-secondary-800">Objets HS</a>
                        </li>
                        <li class="{% if '/marketplace' in app.request.uri %}border-b-2 border-primary-700{% endif %}">
                            <a href="{{ path('app_product_index') }}" class="hover:text-secondary-800">MarketPlace</a>
                        </li>

                    {% elseif 'ROLE_USER' in app.user.roles %}
                        <!-- Dashboard utilisateur standard -->
                        <li class="{% if '/dashboard' in app.request.uri %}border-b-2 border-primary-700{% endif %}">
                            <a href="{{ path('app_dashboard_content') }}" class="hover:text-secondary-800">Dashboard</a>
                        </li>
                        <li class="{% if '/request-object-hs' in app.request.uri %}border-b-2 border-primary-700{% endif %}">
                            <a href="{{ path('app_object_hs_index') }}" class="hover:text-secondary-800">Object-HS</a>
                        </li>
                        <li class="{% if '/request-repair-house' in app.request.uri %}border-b-2 border-primary-700{% endif %}">
                            <a href="{{ path('app_home_repair_index') }}" class="hover:text-secondary-800">Réparation Maison</a>
                        </li>
                        <li class="{% if '/marketplace' in app.request.uri %}border-b-2 border-primary-700{% endif %}">
                            <a href="{{ path('app_product_index') }}" class="hover:text-secondary-800">MarketPlace</a>
                        </li>
                        <li class="{% if '/temp' in app.request.uri %}border-b-2 border-primary-700 {% endif %}">
                            <a href="{{ path('app_cart_index') }}" class="hover:text-secondary-800">Panier</a>
                        </li>

                    {% elseif 'ROLE_PRESTA' in app.user.roles %}
                        <!-- Liens spécifiques pour les professionnels -->
                        <li class="{% if '/presta-products' in app.request.uri %}border-b-2 border-primary-700{% endif %}">
                            <a href="{{ path('app_product_index_presta') }}" class="hover:text-secondary-800">Mes Produits</a>
                        </li>
                    {% endif %}

                    <!-- Profil (disponible pour tous les utilisateurs connectés) -->
                    <li class="{% if '/profil' in app.request.uri %}border-b-2 border-primary-700{% endif %}">
                        <a href="{{ path('app_profil', { id: app.user.id }) }}" class="hover:text-secondary-800">Profil</a>
                    </li>
                {% endif %}

                {% if app.user is defined and app.user is not null %}
                    <li>
                        <a href="{{ path('app_logout') }}" class="hover:text-secondary-800">Déconnexion</a>
                    </li>
                {% else %}
                    <li class="{% if '/login' in app.request.uri %}border-b-2 border-primary-700 {% endif %}">
                        <a href="{{ path('app_login') }}" class="hover:text-secondary-800">Connexion</a>
                    </li>
                    <li class="{% if '/register' in app.request.uri %}border-b-2 border-primary-700 {% endif %}">
                        <a href="{{ path('app_register') }}" class="hover:text-secondary-800">Inscription</a>
                    </li>
                {% endif %}

                <li><a href="#" class="hover:text-secondary-800">Aide</a></li>
            </ul>
        </nav>
    </div>
</header>


<!-- Main Content -->
<main class="container mx-auto py-8">
    {% block body %}
    {% endblock %}
</main>

<!-- Footer -->
<footer class="bg-primary-700 text-white text-center py-4 mt-8">
    <p>&copy; 2025 - Atout réparation</p>
</footer>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>