{% macro step(number, title, active, isLastStep) %}
    <div class="flex items-center {{ active ? 'text-primary-600' : 'text-gray-500' }}">
        <!-- Step Circle -->
        <span class="flex items-center justify-center w-6 h-6 me-2 text-xs border rounded-full shrink-0
            {{ active ? 'border-primary-600' : 'border-gray-600' }}">
            {{ number }}
        </span>

        <!-- Step Content -->
        <div>
            <h3 class="font-medium {{ active ? 'text-primary-600 ' : 'text-gray-500 ' }}">
                {{ title }}
            </h3>
        </div>

        <!-- Connector Arrow -->
        {% if not isLastStep %}
            <svg class="w-4 h-4 ms-2 rtl:rotate-180 {{ active ? 'text-primary-600 ' : 'text-gray-400 ' }}"
                 aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 12 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m7 9 4-4-4-4M1 9l4-4-4-4" />
            </svg>
        {% endif %}
    </div>
{% endmacro %}
